{% extends "portal/base.html" %}
{% load static %}
{% block title %}{{ product.get_display_text }}{% endblock %}
{% block extrahead %}
    <script src="{% static "portal/js/imagezoom.js" %}"></script>
    <script>
        // Can also be used with $(document).ready()
        $(window).load(function() {
          $('.flexslider').flexslider({
            animation: "slide",
            controlNav: "thumbnails"
          });
        });
</script>
    <script defer src="{% static "portal/js/jquery.flexslider.js" %}"></script>
    <link rel="stylesheet" href="{% static "portal/css/flexslider.css" %}" type="text/css" media="screen" />

{% endblock %}


{% block content %}

    <!--single start here-->
    <div class="single">
        <h2 class="text-center aa-heading">{{ product.get_display_text }}</h2><br><hr>
       <div class="container">
         <div class="single-main">
            <div class="single-top-main">
                <div class="col-md-5 single-top">
                   <div class="flexslider">
                      <ul class="slides">
                         {% for photo in product.get_photos %}
                            <li data-thumb="{{ photo.get_photo_url }}">
                                <div class="thumb-image"> <img src="{{ photo.get_photo_url }}" data-imagezoom="true" class="img-responsive"> </div>
                            </li>
                         {% endfor %}
                      </ul>
                </div>
                </div>
                <div class="col-md-7 single-top-left simpleCart_shelfItem">
                    <h2>{{ product.category.name }}</h2>
                    <h1>{{ product.get_display_text }}</h1>
                    {% for spec in product.get_specifications %}
                        <h4>{{ spec.name }} : {{ spec.value }}</h4>
                    {% endfor %}
                    <h6 class="item_price">{{ product.get_display_price }} Per Piece</h6>
                    <p>{{ product.extra_info }}</p>
                    <h4>Size Charts</h4>
                    <ul class="bann-btns">
                        <li><select class="bann-size">
                            <option value="select your location">Size</option>
                            <option value="saab">Small</option>
                            <option value="fiat">Medium</option>
                            <option value="audi">Large</option>
                        </select>
                        </li>
                        <li><a href="#" class="item_add">Add To Cart</a></li>
                    </ul>
                </div>
               <div class="clearfix"> </div>
           </div>
         </div>
       </div>
    </div>
    <!--single end here-->

{% endblock %}